@import "tailwindcss";

@theme {
  --color-primary-bg: #F0F0F0;
  --color-dark-purple: #9000A8;
  --shadow-primary: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

@layer base {
  h1 {
    @apply text-gray-800 text-lg font-bold text-shadow-md
  }
  h2 {
    @apply text-gray-800 text-base font-bold text-shadow-md
  }
}

body {
  font-family: 'inter', sans-serif;
}